@import "tailwindcss";

@theme inline {
  --color-beige: #eee0cc;
  --color-black: #050505;
  --color-white: #f3f3f3;
  --color-blue: #004b94;

  --font-size-title: 30px;
  --font-size-h1: 24px;
  --font-size-h2: 24px;
  --font-size-h3: 22px;
  --font-size-h4: 20px;
  --font-size-p: 18px;
  --font-size-small: 15px;

  --font-family-title: "Story Script", sans-serif;
  --font-family-body: "Kiwi Maru", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-beige);
  color: var(--color-black);
}
.title {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
}
.h1 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h1);
}
.h2 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h2);
}
.h3 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h3);
}
.h4 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-h4);
}
.p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-p);
}
.small {
  font-family: var(--font-family-body);
  font-size: var(--font-size-small);
}

.underline {
  position: relative;
}
.underline:before {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 5px;
  width: 0%;
  height: 8px;
  background: var(--color-black);
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--color-black) 5%,
    var(--color-black) 20%,
    rgba(5, 5, 5, 0.9) 40%,
    rgba(5, 5, 5, 0.95) 50%,
    rgba(5, 5, 5, 0.9) 60%,
    var(--color-black) 80%,
    var(--color-black) 95%,
    transparent 100%
  );
  clip-path: polygon(
    0% 100%,
    3% 85%,
    8% 60%,
    15% 45%,
    25% 40%,
    35% 45%,
    45% 55%,
    55% 45%,
    65% 55%,
    75% 38%,
    85% 40%,
    92% 45%,
    97% 55%,
    100% 100%
  );
  border-radius: 1px 4px 1px 4px;

  width: 80%;
}
.title-center-line {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 14px;
    width: 100%;
    height: 1px;
    background: var(--color-black);
  }
}
.contact-hover:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all 0.3s ease;
}
.dodge-ball-image {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.dodge-ball-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/dodge-ball.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 0;
  border-radius: inherit;
}

.dodge-ball-image > * {
  position: relative;
  z-index: 1;
  opacity: 1;
}
